* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header nav {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px rgb(183, 183, 183) solid;
  background-color: white;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li {
  list-style: none;
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
}


ul li a {
  transition: 0.2s ease-in;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);

}

ul li a:hover {
  color: rgb(148, 148, 148);
  border-bottom: 1px grey solid;
  padding-bottom: 2px;


}

.login-btn {
  background-color: rgb(62, 6, 230);
  width: 80px;
  height: 35px;
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: all 0.1s ease;
  cursor: pointer;
  color: white;
}


.login-btn:active {
  background-color: rgb(145, 145, 145);
  color: white;
}

.login-btn:hover {
  background-color: rgb(117, 124, 224);
  color: white;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: transform 0.3s ease;
  z-index: 10000;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

/*Me mshef navbarin*/
.nav-hidden {
  transform: translateY(-100%);
}