* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: absolute;
  width: 100vw;
  border-bottom: rgb(224, 224, 224) solid 1px;
}

nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);
  height: 70px;
  position: relative;
}

nav ul {
  justify-content: space-between;
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.logo a img {
  margin-top: 10px;
}

.login-btn {
  background-color: rgb(83, 37, 223);
  width: 80px;
  margin-right: 20px;
  height: 35px;
  border: none;
  font-size: 0.6rem;
  border-radius: 5px;
  transition: all 0.1s ease;
  cursor: pointer;
}

.login-btn a {
  color: white;
  text-decoration: none;
}


nav ul li a {
  color: rgb(65, 65, 65);
  text-decoration: none;
  font-weight: 500;

}

.menu-icon {
  display: none;
}

.menu-icon i {
  display: none;
  color: black;

}


@media(max-width: 795px) {

  .menu-icon,
  .menu-icon i {
    display: block;
    padding: 10px;
    color: black;
    cursor: pointer;
    font-size: 26px;
  }

  .fa-bars {
    color: black;
  }

  nav {
    padding-left: 0;
  }

  nav ul {
    z-index: 10;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    gap: 2px;
    flex-direction: column;
    background: rgb(227, 227, 227);
    overflow: hidden;
    transition: all 0.4s ease;
    text-align: center;
    height: 320px;
  }

  .logo a img {
    height: 7rem;
    width: 10rem;


  }

  nav ul li {
    width: 100%;
    height: 100%;
  }

  nav ul li:hover {
    background-color: rgb(201, 201, 201);

  }

  .login-btn {
    display: none;
  }

  nav ul.open {
    height: 100vh;
    padding: 30px 0;

  }

  nav ul li {
    padding: 10px 0;
  }
}