* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* 

header nav {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px rgb(202, 200, 200) solid;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li {
  list-style: none;
  text-decoration: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

ul li a {
  transition: 0.2s ease-in;
}

ul li a:hover {
  color: rgb(169, 169, 243);

}

.login-btn {
  background-color: rgb(255, 255, 255);
  width: 70px;
  height: 30px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.1s ease;
  cursor: pointer;
}


.login-btn:active {
  background-color: rgb(145, 145, 145);
  color: white;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: transform 0.3s ease;
  z-index: 10000;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

.nav-hidden {
  transform: translateY(-100%);
}


.navbar-up {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

.navbar-up .nav-links li a {
  color: #000 !important;
}

.navbar-up .login-btn {
  background: #0066ff;
  color: #fff !important;
} */