* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





header nav {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px rgb(78, 78, 78) solid;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li {
  list-style: none;
  text-decoration: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.login-btn {
  background-color: white;
  width: 70px;
  height: 30px;
  border: none;
  font-weight: bold;
  border-radius: 3px;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: transform 0.3s ease;
  z-index: 10000;
  backdrop-filter: blur(3px);
}

/*Me mshef navbarin*/
.nav-hidden {
  transform: translateY(-100%);
}

/* section 1 */
.hero {
  height: 100vh;
  background: url('/Assets/images/hero-pic.jpg') no-repeat center bottom/cover;
  position: relative;
}

.hero-text {
  position: absolute;

  color: white;

}

.hero-left {
  left: 100px;
  font-size: 4.4rem;
  max-width: 800px;
  /* adjust size */
  word-wrap: break-word;
  /* forces wrapping */
  font-weight: 600;
  bottom: 100px;
}

.hero-right {
  font-size: 1.3rem;
  max-width: 400px;
  /* adjust size */
  word-wrap: break-word;
  /* forces wrapping */
  right: 120px;
  bottom: 150px;
}


/* number counteri */
.wrapper {
  max-width: 1200px;
  margin: 6rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.container {
  width: 30vmin;
  min-width: 180px;
  height: 30vmin;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  backdrop-filter: blur(10px);
  border-radius: 1em;
  color: rgb(0, 0, 0);
  text-align: center;
}

.num {
  font-size: 4.5rem;
  font-weight: bold;
}

.text {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: rgb(79, 79, 79);
}

.divider {
  width: 100%;
  border: 1px solid rgb(227, 227, 227);
  margin: 1rem 0;
}

/* Section 3 */

.section3 {
  display: grid;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}