* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(234, 233, 233);
}


nav {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 70px;
  position: relative;
}

nav ul {
  background-color: red;
  justify-content: space-between;
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.logo a img {
  margin-top: 10px;
}

.login-btn {
  background-color: rgb(83, 37, 223);
  width: 80px;
  height: 35px;
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: all 0.1s ease;
  cursor: pointer;
}

.login-btn a {
  color: white;
  text-decoration: none;
}


nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  display: none;
  color: black;

}


@media(max-width: 790px) {

  .menu-icon,
  .menu-icon i {
    display: block;
    padding: 10px;
    color: black;
    cursor: pointer;
    font-size: 26px;
  }

  .fa-bars {
    color: black;
  }

  nav {
    padding-left: 0;
  }

  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    gap: 2px;
    flex-direction: column;
    background: rgb(227, 227, 227);
    overflow: hidden;
    transition: all 0.4s ease;
    text-align: center;
    height: 320px;
  }

  .logo a img {
    height: 7rem;
    width: 10rem;


  }

  nav ul li {
    width: 100%;
    height: 100%;
  }

  nav ul li:hover {
    background-color: rgb(201, 201, 201);

  }

  .login-btn {
    display: none;
  }

  nav ul.open {
    height: 100vh;
    padding: 30px 0;

  }

  nav ul li {
    padding: 10px 0;
  }
}



/* 
header nav {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px rgb(183, 183, 183) solid;
  background-color: white;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li {
  list-style: none;
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
}


ul li a {
  transition: 0.2s ease-in;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);

}

ul li a:hover {
  color: rgb(148, 148, 148);
  border-bottom: 1px grey solid;
  padding-bottom: 2px;


}

.login-btn {
  background-color: rgb(62, 6, 230);
  width: 80px;
  height: 35px;
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: all 0.1s ease;
  cursor: pointer;
  color: white;
}


.login-btn:active {
  background-color: rgb(145, 145, 145);
  color: white;
}

.login-btn:hover {
  background-color: rgb(117, 124, 224);
  color: white;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: transform 0.3s ease;
  z-index: 10000;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

.nav-hidden {
  transform: translateY(-100%);
} */


/* again */
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 200vh;
  /* for scroll testing */