*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.info_item_container{
    display:flex;
    flex-direction: row;
    gap: 12px;
}
.svg_icon{
    width: 17px;
    height: 10px;
}
.info_item_container p{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    opacity: 0.8;
}