*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif; 
}
.title_and_description_container{
    min-height: 60vh;
    width:100%;
    background-color: #0a47c9;
    display:flex;
    flex-direction: row;
    color: white;
    align-items: flex-end;
    justify-content: space-between;
    padding: 75px;
    padding-bottom: 75px;
    gap:50px;
    flex-wrap: wrap;
}
.title_container{
    width:55%;
    font-size: 22px;
}
.title_container h1{
    line-height: 1.3;
}
.description_container{
    width: 25%;
}
.description_container p{
    line-height: 1.5;
    opacity:0.9;
}
.services_main_page_container{
    height: 170vh;
    background-color: aqua;
    width:100%;
    display: flex;
    flex-direction: column;
    gap:30px;
    padding:100px 75px;
    flex-wrap: wrap;
}
.services_title_and_description_container{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 17vh;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
}
.services_title{
    min-height: 10vh;
    width: 50%;
    font-size: 22px;
    line-height: 1.3;
}
.services_description{
    min-height:10vh;
    width:50%;
    opacity:0.7;
    line-height: 1.5;
}
.services_main_page_container img{
    width:100%;
    height:87vh;
}
