@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(transport-logistics-concept.jpg);
    background-size: cover;
    background-position: center;
    
}
.container{
    position: relative;
    width: 420px;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 30px 40px;
}
.container h1{
    font-size: 36px;
    text-align: center;
}
.container .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
}
.input-box i{
    position: absolute;
    right: 50px;
    top: 33%;
    transform: translateY(-50%);
    font-size: 22px;
}
.input-box svg{
    position: absolute;
    right: 50px;
    top: 52%;
    transform: translateY(-50%);
}

.container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.container .btn{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: lightblack;
}
.container .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}