*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}
.service_button{
    height: 50px;
    /*width:400px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid lightgrey;
}
.service_button svg{
    height:20px;
    width:20px;
    flex-shrink: 0;
}
.service_button a{
    font-weight: bold;
    font-size: 21px;
    color:black;
    text-decoration: none;
}
.service_button:hover{
    cursor:pointer;
    color: #0a47c9;
    border-width: 0px;
}
.service_button a:hover{
    color: #0a47c9;
}