.services-card {
  width: 20rem;

}

.service-crd-text {
  padding-top: 5px;
}

.services-card ul {
  padding: 4px;
  list-style: disc inside;
  color: black;
}

.services-card img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  object-position: center;
}