<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../Components/location-cards/location-cards.css">
</head>

<body>
  <div class="services-card">
    <img src="../../Assets/images/plane-with-company-logo.png" alt="">
    <div class="service-crd-text">
      <h3>RKS Logistics Office</h3>
      <ul>
        <li>Choose from over 2000 locations, many open later than The UPS Store, offering packing and domestic and
          international shipping services</li>
        <li>Conventiently hold packages for pickup at our locations.</li>
        <li>Get printing services for posters, presentations and more</li>
      </ul>
    </div>
</body>

</html>