.services-card {
  width: 20rem;
  height: 32rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  overflow: hidden;

}

.services-card img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.service-crd-text {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.services-card ul {
  list-style: disc inside;
  color: black;

}