* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100vw;
  height: 400px;
}


.upper-footer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: rgb(237, 237, 237);

}

button {
  height: 50px;
  width: 200px;
  background-color: blue;
  border: none;
  border-radius: 1em;
}

button a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;

}

.h1_paragraph_footer {

  width: 30%;
  overflow: hidden;

}

.links-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px;
  align-items: start;

  height: 100%;
  justify-content: center;
  padding-top: 6em;


}

/* On tablets or medium screens */
@media (max-width: 768px) {
  .links-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    /* 2 columns */
  }

}

/* On mobile phones */
@media (max-width: 480px) {
  .links-container {
    grid-template-columns: 1fr;
    /* 1 column */
    text-align: center;
    /* optional */
  }
}

ul li {
  list-style: none;
  margin-bottom: 0.7em;
}


ul li a {
  text-decoration: none;
  color: rgb(66, 66, 66);

}

h3 {
  margin-bottom: 1em;
}

.bottom-footer {
  width: 100%;
  height: 3em;
  border-top: 1px rgb(174, 174, 174) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}