@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  overflow-x: hidden;
}

footer {
  width: 100vw;
  height: 400px;
}


.upper-footer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: rgb(237, 237, 237);

}

.lower-footer {
  background-color: white;
}

button {
  height: 50px;
  width: 200px;
  background-color: blue;
  border: none;
  border-radius: 1em;
}

button a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;

}

.cta-btn:hover {
  background: #2563eb;
  transform: translateY(-2px);
  transition: .2s ease;
}

@media (max-width: 768px) {
  .h1_paragraph_footer {
    font-size: 1.6rem;
  }

  .cta-btn {
    padding: 0.75rem 1.8rem;
  }
}

@media (max-width: 480px) {
  .h1_paragraph_footer {
    font-size: 1.2rem;
    min-width: 300px;
    text-align: center;

  }

  .upper-footer {
    padding: 2rem 1rem;
  }

  .cta-btn {
    min-width: 70%;
    font-size: 0.6rem;
    height: 20%;

  }

  .bottom-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;


  }

  .bottom-footer p {
    margin-top: 5px;
    text-align: center;

  }

  .links-container {
    grid-template-columns: 1fr;
    text-align: center;

  }

  .logo-section {
    align-items: center;
  }
}


.h1_paragraph_footer {
  width: 40%;
  overflow: hidden;
}

.links-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px;
  align-items: start;
  height: 100%;
  justify-content: center;
  padding-top: 6em;
}

.logo-section {
  display: flex;
  flex-direction: column;

}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links a {
  color: rgb(58, 57, 57);
  font-size: 1.3rem;
  width: 40px;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social-links a:hover {
  color: white;
  background: #3b82f6;
  transform: translateY(-3px);
}

/* On tablets or medium screens */
@media (max-width: 768px) {
  .links-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    /* 2 columns */
  }

}

@media (max-width: 480px) {
  .links-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

ul li {
  list-style: none;
  margin-bottom: 0.7em;
}


ul li a {
  text-decoration: none;
  color: rgb(101, 101, 101);
  transition: 0.2s ease;
}

ul li a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(150, 149, 149);

}

h3 {
  margin-bottom: 1em;
}

.bottom-footer {
  width: 100%;
  height: 3em;
  border-top: 1px rgb(174, 174, 174) solid;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}