@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Poppins;
}
.cargos{
    background-color: rgb(247, 247, 247);
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 30px;
    justify-content: space-around;
    overflow: hidden;
}
.title{
    font-size: 28px;
    margin-left: 15px;
    width: 45%;
    height: fit-content;
}
.titleParagraph{
    font-size: 22px;
    color: grey;
    align-self: end;
    width: 20%;
    height: fit-content;
    margin-right: 50px;
}
.cargoVideo{
    display: flex;
    justify-content: center;
    padding: 30px 30px 0 30px;
    height: auto;
    width: 100%;
}
.cargoVideo video{
    width: 1450px;
    height: 400px;
    object-fit: cover;
}
.sectionTitle{
    font-size: 28px;
    padding: 160px 0 20px 160px;
    width: 55%;
}
.tools{
    padding-block: 80px;
}
.wrapper{
    padding: 25px;
    gap: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.icons{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.seperator{
    padding: 25px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.worldwideLocations{
    background-color: #004cc7;
    color: white;
}
.worldContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    padding: 150px 150px 0 150px;
    overflow: hidden;
}
.worldMapTitle{
    font-size: 45px;
    height: auto;
    width: 45%;
}
.worldContainer .worldImg{
    width: 100%;
    height: 750px;
}
.reports{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.reportBox{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    height: 300px;
    padding: 25px;
    margin-bottom: 50px;
}
.reportBox h1{
    font-size: 45px;
}
h2.title {
  text-align: center;
  font-size: 45px;
  margin: 100px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
}

h2.title::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  background: #1a1a1a;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonials-container {
  display: flex;
  gap: 32px;
  max-width: 1200px;
  margin-inline: auto;
  height: 500px;
  width: 100%;
  padding: 24px;
}

.column {
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 24px;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.column:hover .testimonials {
  animation-play-state: paused;
}

.card {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.card .profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cove;
}

.card .profile {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.card .profile .name {
  font-weight: 600;
  color: #1a1a1a;
}

.card .profile .role {
  font-size: 14px;
  color: #666;
}

.card .content {
  color: #444;
  line-height: 1.5;
}

.column:nth-child(1) .testimonials {
  animation-name: scrollUp;
  animation-duration: 23s;
}

.column:nth-child(2) .testimonials {
  animation-name: scrollDown;
  animation-duration: 50s;
}

.column:nth-child(3) .testimonials {
  animation-name: scrollUp;
  animation-duration: 30s;
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}


@media (max-width: 768px){
    .container{
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .title{
        width: 80%;
        font-size: 24px;
        text-align: center;
    }
    .titleParagraph{
        width: 80%;
        font-size: 18px;
        margin: 20px 40px 0 0;
        text-align: center;
    }
    .cargoVideo video{
        width: 100%;
        height: auto;
    }
    .sectionTitle{
        width: 100%;
        font-size: 22px;
        text-align: center;
        padding: 80px 0 20px 20px;
    }
    .icons{
        width: 80%;
        height: auto;
        align-items: center;
        text-align: center;
        padding-top: 30px;
        gap: 15px;
    }
    .worldMapTitle{
        width: 80%;
        font-size: 22px;
        text-align: center;
    }
    .worldContainer{
        padding: 100px 20px;
        align-items: center;
    }
    .worldContainer .worldImg{
        height: auto;
    }
    .reportBox{
        width: 80%;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .testimonials-container{
        gap: 10px;
        padding: 10px;
    }
    .column:nth-child(3) {
        display: none;
    }
    .column:hover .testimonials {
        animation-play-state: running;
    }
}
@media (max-width: 640px) {
  .column {
    display: none;
  }
  h2{
    padding-right: 50px;
  }
  .column:first-child {
    display: block;
  }
}