*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cargos{
    background-color: rgb(247, 247, 247); 


}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 20px;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 50px;
}
.title{
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    width: 45%;
    margin-right: 50px;
}
.titleParagraph{
    font-size: 22px;
    color: grey;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    width: 20%;
}
.cargoVideo{
    display: block;
    margin: 0 auto;
    padding: 2rem;
}
video{
    width: 100%;
    height: 70vh;
}
