@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Poppins;
}
.cargos{
    background-color: rgb(247, 247, 247);
}
.topSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 120px 70px 0 70px;
}
.title{
    font-size: 40px;
    font-weight: 700;
    max-width: 500px;
}
.titleParagraph{
    max-width: 300px;
    color: gray;
    line-height: 1.5;
    align-self: flex-end;
}
.cargoVideo{
    display: flex;
    padding: 50px 70px 0 70px;
    height: auto;
    width: 100%;
    max-width: 2172px;
}
.cargoVideo video{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.toolsTitle{
    font-size: 22px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0 40px 70px;
}
.wrapper{
    gap: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.icons{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.seperator{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.tools{
    padding-block: 80px;
}
.worldwideLocations{
    background-color: #004cc7;
    color: white;
}
.worldContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: column;
    max-width: 2172px;
    height: auto;
    padding: 120px 80px 0 80px;
}
.worldMapTitle{
    font-size: 45px;
    height: auto;
    width: 60%;
}
.worldContainer .worldImg{
    width: 100%;
    height: auto;
}
.reports{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline: 10px;
}
.reportBox{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    height: 300px;
    padding: 25px;
    margin-bottom: 50px;
}
.reportBox h1{
    font-size: 45px;
}
h2.title {
  text-align: center;
  font-size: 45px;
  margin: 80px;
  text-transform: uppercase;
  position: relative;
}

h2.title::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  background: #1a1a1a;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonialsContainer {
  display: flex;
  gap: 32px;
  max-width: 1200px;
  margin-inline: auto;
  margin-bottom: 60px;
  height: 500px;
  width: 100%;
  padding: 24px;
}

.column {
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 24px;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.column:hover .testimonials {
  animation-play-state: paused;
}

.card {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.card .profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.card .profile {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.card .profile .name {
  font-weight: 600;
  color: #1a1a1a;
}

.card .profile .role {
  font-size: 14px;
  color: #666;
}

.card .content {
  color: #444;
  line-height: 1.5;
}

.column:nth-child(1) .testimonials {
  animation-name: scrollUp;
  animation-duration: 23s;
}

.column:nth-child(2) .testimonials {
  animation-name: scrollDown;
  animation-duration: 50s;
}

.column:nth-child(3) .testimonials {
  animation-name: scrollUp;
  animation-duration: 30s;
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

.articlesHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 70px 0 70px;
}
.articlesTitle{
    font-size: 40px;
    font-weight: 700;
    max-width: 500px;
}
.viewAll{
    max-width: 300px;
    line-height: 1.5;
    align-self: flex-end;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-inline: 70px;
    padding-block: 35px;
}
.articleBox{
    flex: 1 1 calc(33.333% - 30px); 
    display: flex;
    flex-direction: column;
}
.articleBox a{
    text-decoration: none;
}
.articleBox img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.articleBox h3{
    font-size: 18px;
    margin: 12px 0 6px;
    font-weight: 600;
}
.articleBox p{
    font-size: 14px;
    color: grey;
}
.hiddenViewAll{
    display: none;
}
.faqContainer{
    padding: 75px;
}
.faqTitle{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}
.faqItem{
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.faqQuestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faqQuestion p{
    margin: 0;
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.icon{
    font-size: 24px;
    transition: transform 0.3s;
    border-radius: 50%;
    width: 40px;
    padding-left: 12px;
    background-color: lightgray;
}
.faqAnswer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-top: 10px;
    color: grey;
}
.faqAnswer.show{
    max-height: 200px;
}
@media (max-width: 945px){
    .topSection{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .title{
        font-size: 32px;
        text-align: center;
    }
    .titleParagraph{
        font-size: 17px;
        text-align: center;
        align-self: center;
        margin-top: 15px;
    }
    .cargoVideo video{
        width: 100%;
        height: auto;
    }
    .toolsTitle{
        font-size: 17px;
        text-align: center;
        justify-content: center;
        padding-right: 50px;
    }
    .icons{
        width: 80%;
        height: auto;
        align-items: center;
        text-align: center;
        padding-top: 30px;
        gap: 15px;
    }
    .worldMapTitle{
        font-size: 32px;
        width: auto;
        text-align: center;
    }
    .worldContainer{
        align-items: center;
    }
    .worldContainer .worldImg{
        height: auto;
    }
    .reportBox{
        width: 80%;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .testimonials-container{
        gap: 10px;
        padding: 10px;
    }
    .column:nth-child(3) {
        display: none;
    }
    .column:hover .testimonials {
        animation-play-state: running;
    }
    .articlesTitle{
        font-size: 32px;
        text-align: center;
    }
    .articleBox{
        flex: 1 1 calc(50% - 30px);
    }
    .viewAll{
        display: none;
    }
    .hiddenViewAll{
        display: flex;
        justify-content: center;
        margin-top: 35px;
        font-size: 22px;
    }
    .faqTitle {
        font-size: 32px;
    }

    .faqQuestion p {
        font-size: 16px;
    }

    .icon {
        font-size: 22px;
    }
}
@media (max-width: 640px) {
    .column{
        display: none;
    } 
    h2.title{
        padding-right: 10px;
        display: flex;
        align-items: center;
        height: auto;
        font-size: 30px;
    }
    .column:first-child{
        display: block;
    }
    .articleBox{
        flex: 1 1 100%;
  }
}
@media (max-width: 480px) {
    .faqTitle {
        font-size: 28px;
        text-align: left;
    }

    .faqQuestion {
        flex-direction: row;
    }

    .faqQuestion p {
        font-size: 15px;
    }

    .icon {
        font-size: 20px;
        padding-right: 10px;
    }

    .faqItem {
        padding: 15px 0;
    }
}