* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



/* section 1 */
.hero {

  transition: all 0.3s ease;
  background-image: url(../../Assets/images/vecteezy_transport-vehicle-and-logistics-concept-3d-render_8084549.JPG);
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;



}




.hero:hover {
  box-shadow: inset 0 -350px 200px -110px rgba(0, 0, 0, 0.8);

}

.hero-text {
  transition: all 0.3s ease;
}

.hero-text:hover {
  transform: translateY(-10px);
}


.hero-text {
  position: absolute;
  color: white;

}

.hero-text {
  left: 80px;
  font-size: 3.5rem;
  max-width: 800px;
  word-wrap: break-word;
  /* per me ba wrapping */
  font-weight: 600;
  bottom: 120px;
}

.hero-text p {
  font-size: 0.4em;
  font-weight: 400;
}

.hero-text h4 {
  font-size: 0.9em;
}

/* aboutus section */
.aboutUsContainer {
  margin-top: 10rem;
  width: 90vw;
  height: 70vh;
  display: flex;

}

.aboutImageContainer {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 30px;
}

.aboutImageContainer img {
  width: 100%;
  height: 80%;
  object-fit: cover;

}

.textAboutContainer {
  width: 60vw;
}

.textAboutContainer hr {
  width: 90px;
}

.textAboutContainer h3 {
  color: rgb(189, 189, 189);
  font-weight: 400;
}

.textAboutContainer h1 {
  font-size: 2.5rem;
}

.textAboutWrapper {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

/* number counteri */
.wrapper {
  max-width: 1200px;
  margin: 6rem auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;

}

.counter-container {
  width: 30vmin;
  min-width: 180px;
  height: 30vmin;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  border-radius: 1em;
  color: rgb(0, 0, 0);
  text-align: center;
}

.num {
  font-size: 3.5rem;
  font-weight: bold;
}

.text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: rgb(79, 79, 79);
}

.divider {
  width: 100%;
  border: 1px solid rgb(227, 227, 227);
  margin: 1rem 0;
}

/* Section 3 */

.section3 {
  display: grid;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.transparent-cards-container {
  width: 100vw;
  height: 100vh;
  background: url(/Assets/images/cargo-ship-carrying-shipping-containers-ocean.jpg) no-repeat center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  margin-bottom: 4rem;
  overflow: hidden;
}

.service-card {
  width: 50vh;
  height: 85%;
  background-color: rgba(23, 23, 23, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 1.2rem;
  align-items: center;
  transition: 0.5s all ease;
}

.service-card>* {
  transition: all 0.4s ease;
}

.service-card:hover {
  background-color: rgb(219, 219, 219);
  color: black;
}

.service-card h1 {
  font-size: 3.4rem;
}

.service-card p {
  max-width: 280px;
  font-size: 1.2rem;
}

.translate-effect {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 1.4rem;
  padding-bottom: 3rem;

}

.translate-effect:hover {
  transform: translateY(-7%);
  color: black;
}


.translate-effect a {
  text-decoration: none;
  color: white;
}

.more-info-container {
  background: url(../../Assets/images/globe.png) no-repeat;
  padding: 20px;
  height: 80vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 5rem;
  padding: 0 20px;
  overflow: hidden;
}

.more-info-card {
  height: 18rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  border: solid 1px rgb(230, 230, 230);
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  transition: all ease 0.3s;
}

.more-info-card a {
  text-decoration: none;
}

.more-info-card:hover {
  background-color: rgb(216, 216, 216);
}


/* video */
.video-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 400vh;
  background-color: rgb(0, 0, 0);
  margin-bottom: 6rem;
  align-items: center;
  padding: 0 4rem;
  overflow: hidden;
}

.ship-video-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 90vw;
  height: 75vh;
  margin-bottom: 2rem;
  cursor: pointer;
}

.ship-video-container video:hover {
  filter: brightness(0.5);
}

.ship-video-container video {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all ease-in 0.2s;
}

.videoTextContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  height: 18rem;
  gap: 3rem;
  font-size: 1rem;
  align-items: center;
}

.videoTextContainer h1 {
  font-size: 1.5em;
}

.videoTextContainer p {
  font-size: 1em;
}




/*SLIDERI*/
.slider-section-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.slider-section-container hr {
  width: 150px;

}

.slider {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
}

.brands {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  animation: scroll 15s linear infinite;
  gap: 80px;
}

.brand-logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo svg {
  width: 150px;
  flex-shrink: 0;
}


.brands:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


.brands::after {

  flex: 0 0 100vw;
}


/* responsive */

@media (max-width: 992px) {
  .hero-text {
    font-size: 3rem;
    width: 600px;
  }

  .transparent-cards-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 4rem;
    overflow: hidden;
    height: 90vh;
  }

  .service-card {
    width: 40vh;
    height: 70%;
    gap: 1rem;
    align-items: center;
    transition: 0.5s all ease;
  }


  .service-card h1 {
    font-size: 2.4rem;
  }

  .service-card p {
    max-width: 250px;
    font-size: 1rem;
  }

  .more-info-card {
    height: 250px;
  }


  .wrapper {
    width: 100%;
    margin: 4rem auto;
    padding: 0 1rem;
    justify-content: center;
    gap: 0.5rem;

  }

  .counter-container .text {
    font-size: 14px;
  }

  .counter-container .num {
    font-size: 45px;
  }

  .ship-video-container {
    width: 100vw;
    height: 65vh;
    overflow: hidden;
  }

}

@media (max-width: 768px) {
  .hero-text {
    font-size: 2.2rem;
    width: 400px;
  }

  .slider-section-container h2 {
    font-size: 1.4rem;
    width: 450px;
  }

  .brand-logo svg {
    width: 170px;
  }

  .more-info-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;
  }

  .more-info-card {
    height: 250px;
    transition: all ease-in 0.2s;
  }

  .more-info-card p {

    font-size: 16px;
  }

  .more-info-card a {
    font-size: 16px;
  }

  .transparent-cards-container {
    grid-template-columns: 1fr;
    height: 155vh;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 1rem;

  }

  .service-card {
    height: 20rem;
    width: 100%;
    margin: 20px;
  }

  .service-card h1 {
    font-size: 40px;
  }

  .service-card p,
  .service-card a {
    font-size: 14px;
    width: 90%;
    text-align: center;
  }

  .ship-video-container {
    width: 100vw;
    height: 55vh;
    margin-bottom: 5rem;
    overflow: hidden;
  }

  .wrapper {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 2.5rem;
    gap: 80px;
  }

  .counter-container .text {
    font-size: 16px;
  }

  .counter-container .num {
    font-size: 44px;
  }

  .counter-container hr {
    width: 100px;
  }






}


@media (max-width: 480px) {
  .slider-section-container {
    overflow: hidden;
    padding: 0;
    margin: 0;

  }

  .hero {
    transition: all 0.3s ease;
  }

  .hero:hover {
    box-shadow: inset 0 -550px 600px -110px rgba(0, 0, 0, 0.8);
  }

  .slider {
    padding: 0;
  }

  .slider-section-container h2 {
    font-size: 1.2rem;
    width: 250px;
  }

  .slider-section-container hr {
    width: 90px;
  }

  .brand-logo svg {
    width: 130px;
  }

  .ship-video-container {
    width: 100vw;
    height: 35vh;
    margin-bottom: 5rem;
    overflow: hidden;
  }

  /* pjesa e get more info about us  */
  .more-info-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 10px;
  }

  .more-info-card {
    height: 210px;
    transition: all ease-in 0.3s;
  }

  .more-info-card p {
    font-size: 12px;
  }

  .more-info-card a {
    font-size: 12px;
  }


  /* cards */
  .transparent-cards-container {
    grid-template-columns: 1fr;
    height: 155vh;
    align-items: center;
    justify-content: center;
    padding: 20px;

  }

  .service-card {
    height: 18rem;
    width: 50px;
    min-width: 22rem;
  }

  .service-card h1 {
    font-size: 30px;
  }

  .service-card p,
  .service-card a {
    font-size: 12px;
    width: 70%;
    text-align: center;
  }

  .wrapper {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.8rem;
    gap: 20px;
  }

  .counter-container .text {
    font-size: 12px;
  }

  .counter-container .num {
    font-size: 36px;
  }

  .counter-container hr {
    width: 70px;
  }

  /* hero page */

  .hero {
    height: 80vh;
    left: 0;
    margin-bottom: 20px;
  }

  .hero-text {
    left: 20px;
    min-width: 20rem;
    max-width: 22rem;
  }

  .hero-text h4 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

}