* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* 
header nav {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px rgb(78, 78, 78) solid;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li {
  list-style: none;
  text-decoration: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

ul li a {
  transition: 0.2s ease-in;
}

ul li a:hover {
  color: rgb(169, 169, 243);

}

.login-btn {
  background-color: rgb(255, 255, 255);
  width: 70px;
  height: 30px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.1s ease;
  cursor: pointer;
}


.login-btn:active {
  background-color: rgb(145, 145, 145);
  color: white;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: transform 0.3s ease;
  z-index: 10000;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

Me mshef navbarin
.nav-hidden {
  transform: translateY(-100%);
} */

/* section 1 */
.hero {
  height: 100vh;
  background: url('/Assets/images/cargo-ship-carrying-shipping-containers-ocean.jpg') no-repeat center bottom/cover;
  position: relative;

}

.hero-text {
  position: absolute;
  color: white;

}

.hero-text {
  left: 80px;
  font-size: 3.5rem;
  max-width: 800px;
  word-wrap: break-word;
  /* per me ba wrapping */
  font-weight: 600;
  bottom: 120px;
}

.hero-text p {
  font-size: 1.5rem;
  font-weight: 400;
}

/* aboutus section */
.aboutUsContainer {
  background-color: red;
  width: 100vw;
  height: 80vh;
  display: flex;

}

/* number counteri */
.wrapper {
  max-width: 1200px;
  margin: 6rem auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;


}

.counter-container {
  width: 30vmin;
  min-width: 180px;
  height: 30vmin;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  backdrop-filter: blur(10px);
  border-radius: 1em;
  color: rgb(0, 0, 0);
  text-align: center;
}

.num {
  font-size: 3.5rem;
  font-weight: bold;
}

.text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: rgb(79, 79, 79);
}

.divider {
  width: 100%;
  border: 1px solid rgb(227, 227, 227);
  margin: 1rem 0;
}

/* Section 3 */

.section3 {
  display: grid;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}



video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.transparent-cards-container {
  width: 100vw;
  height: 100vh;
  background: url(/Assets/images/cargo-ship-carrying-shipping-containers-ocean.jpg) no-repeat center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  margin-bottom: 4rem;
  overflow: hidden;
}

.service-card {
  width: 50vh;
  height: 85%;
  background-color: rgba(23, 23, 23, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 1.2rem;
  align-items: center;
  transition: 0.5s all ease;
}

.service-card>* {
  transition: all 0.4s ease;
}

.service-card:hover {
  background-color: rgb(219, 219, 219);
  color: black;
}

.service-card h1 {
  font-size: 3.4rem;
}

.service-card p {
  max-width: 280px;
  font-size: 1.2rem;
}

.translate-effect {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 1.4rem;
  padding-bottom: 3rem;

}

.translate-effect:hover {
  transform: translateY(-7%);
  color: black;
}


.translate-effect a {
  text-decoration: none;
  color: white;
}


/* .more-info-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  margin-bottom: 5rem;

}

.more-info-card {
 height: 19rem;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
} */

.more-info-container {
  padding: 20px;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 5rem;
  padding: 0 20px;
}

.more-info-card {
  height: 18rem;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  /* very important if you keep padding */
}

.more-info-card a {
  text-decoration: none;
}






/*SLIDERI*/
.slider-section-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.slider-section-container hr {
  width: 150px;

}

.slider {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
}

.brands {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  animation: scroll 15s linear infinite;
  gap: 80px;
}

.brand-logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo svg {
  width: 150px;
  flex-shrink: 0;
}


.brands:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


.brands::after {

  flex: 0 0 100vw;
}


/* responsive */

@media (max-width: 480px) {
  .slider-section-container {
    overflow: hidden;
    padding: 0;
    margin: 0;

  }

  .slider {
    padding: 0;
  }

  .slider-section-container h2 {
    font-size: 1.2rem;
    width: 250px;
  }

  .slider-section-container hr {
    width: 90px;
  }

  .brand-logo svg {
    width: 130px;
  }

  /* pjesa e get more info about us  */
  .more-info-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 10px;
  }

  .more-info-card {
    height: 210px;
  }

  .more-info-card p {
    font-size: 12px;
  }

  .more-info-card a {
    font-size: 12px;
  }


  /* cards */
  .transparent-cards-container {
    grid-template-columns: 1fr;
    height: 145vh;
    align-items: center;
    justify-content: center;
    padding: 20px;

  }

  .service-card {
    height: 18rem;
    width: 50px;
    min-width: 22rem;
  }

  .service-card h1 {
    font-size: 30px;
  }

  .service-card p,
  .service-card a {
    font-size: 12px;
    width: 70%;
    text-align: center;
  }

  .wrapper {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.8rem;
  }

  .counter-container .text {
    font-size: 12px;
  }

  .counter-container .num {
    font-size: 36px;
  }

  .counter-container hr {
    width: 70px;
  }

  /* hero page */

  .hero {
    height: 80vh;
    left: 0;
    margin-bottom: 20px;
  }

  .hero-text {
    left: 20px;
    min-width: 20rem;
    max-width: 22rem;
  }

  .hero-text h4 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

}