* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



/* section 1 */
.hero {
  transition: all 0.3s ease;
  background-image: url(../../Assets/images/vecteezy_transport-vehicle-and-logistics-concept-3d-render_8084549.JPG);
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 -450px 100px -100px rgba(0, 0, 0, 0.8);
}


.hero-text {
  transition: all 0.3s ease;
}

.hero-text:hover {
  transform: translateY(-10px);
}


.hero-text {
  position: absolute;
  color: white;

}

.hero-text {
  left: 80px;
  font-size: 3.5rem;
  max-width: 800px;
  word-wrap: break-word;
  /* per me ba wrapping */
  font-weight: 600;
  bottom: 30px;
}

.hero-text p {
  font-size: 0.4em;
  font-weight: 400;
}

.hero-text h4 {
  font-size: 0.9em;
}

/* aboutus section */
.globe-pic-container {
  background: url(../../Assets/images/dot-globe.png) no-repeat;
}

.aboutUsContainer {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  width: 100vw;
  height: 90vh;
  overflow: hidden;


}

.textAboutWrapper {
  gap: 3em;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.textAboutWrapper hr {
  width: 20em;

}

.textAboutWrapper h1 {
  font-size: 3em
}

.textAboutWrapper h3 {
  color: rgb(134, 134, 134);
  font-weight: 400;
  font-size: 1.2em;

}

.textAboutWrapper {
  font-size: 1em;
}

.learnMoreButton {
  width: 15rem;
  height: 3rem;
  font-size: 0.8rem
}


/* number counteri */
.wrapper {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  gap: 4rem;



}

.counter-container {

  width: 10rem;
  min-width: 180px;
  height: 10rem;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  color: rgb(43, 43, 43);
  text-align: center;
}

.num {
  font-size: 3rem;
  font-weight: bold;
}

.text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: rgb(79, 79, 79);
}

.divider {
  width: 100%;
  border: 1px solid rgb(227, 227, 227);
  margin: 1rem 0;
}

/* Section 3 */

.section3 {
  display: grid;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.transparent-cards-container {
  width: 100vw;
  height: 100vh;
  background: url(/Assets/images/shaah-shahidh--subrrYxv8A-unsplash.jpg) no-repeat center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  margin-bottom: 4rem;
  padding: 2rem;
}

.service-card {
  width: 50vh;
  height: 85%;
  background-color: rgba(23, 23, 23, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 1.2rem;
  align-items: center;
  transition: 0.5s all ease;
}

.service-card>* {
  transition: all 0.4s ease;
}

.service-card:hover {
  background-color: rgb(219, 219, 219);
  color: black;
}

.service-card:hover a {
  color: rgb(0, 0, 0);
}

.service-card h1 {
  font-size: 3.4rem;
}

.service-card p {
  max-width: 280px;
  font-size: 1.2rem;
}

.translate-effect {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 1.4rem;
  padding-bottom: 3rem;

}

.translate-effect:hover {
  transform: translateY(-7%);
  color: black;
}


.translate-effect a {
  text-decoration: none;
  color: white;
}

/* section tjeter */
.more-info-container {
  background: url(../../Assets/images/globe.png) no-repeat;
  padding: 20px;
  height: 80vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 5rem;
  padding: 0 20px;
  overflow: hidden;
}

.more-info-card {
  height: 18rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  border: solid 1px rgb(230, 230, 230);
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  transition: all ease 0.2s;
}

.more-info-card a {
  text-decoration: none;
}

.more-info-card:hover {
  background-color: rgb(199, 199, 199);
}

.get-more-info-header {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.8rem;
}


/* video */
.video-section {
  background-size: repeat;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 125vh;
  background-color: rgb(0, 0, 0);
  margin-bottom: 6rem;
  align-items: center;
  padding: 0 4rem;

}

.ship-video-container {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 75vh;
  margin-bottom: 2rem;
  cursor: pointer;
}

.ship-video-container video:hover {
  filter: brightness(0.5);
}

.ship-video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all ease-in 0.2s;
}

.videoTextContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  height: 18rem;
  gap: 3rem;
  font-size: 1rem;
  align-items: center;
}

.videoTextContainer h1 {
  font-size: 1.5em;
}

.videoTextContainer p {
  font-size: 1em;
}




/*SLIDERI*/
.slider-section-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.slider-section-container hr {
  width: 150px;

}

.slider {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
}

.brands {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  animation: scroll 15s linear infinite;
  gap: 80px;
}

.brand-logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo svg {
  width: 150px;
  flex-shrink: 0;
}


.brands:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


.brands::after {
  flex: 0 0 100vw;
}


/* responsive */

@media (max-width: 992px) {
  .hero-text {
    font-size: 3rem;
    width: 600px;
    bottom: 5rem;
  }

  .transparent-cards-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 4rem;
    overflow: hidden;
    height: 90vh;
  }

  .service-card {
    width: 40vh;
    height: 70%;
    gap: 1rem;
    align-items: center;
    transition: 0.5s all ease;
  }


  .service-card h1 {
    font-size: 2.4rem;
  }

  .service-card p {
    max-width: 250px;
    font-size: 1rem;
  }

  .more-info-card {
    height: 250px;
  }

  .textAboutWrapper {
    font-size: 15px;
  }

  .learnMoreButton {
    width: 12rem;
    height: 2.5rem;
    font-size: 0.6rem
  }


  .wrapper {
    width: 100%;
    margin: 4rem auto;
    padding: 0 1rem;
    justify-content: center;
    gap: 1rem;

  }

  .counter-container .text {
    font-size: 14px;
  }

  .counter-container .num {
    font-size: 45px;
  }



  .videoTextContainer {
    font-size: 0.9rem;
    padding: 10rem 0;
    min-width: 430px;


  }

  .ship-video-container video {
    margin: 0 60px;
  }

}

@media (max-width: 768px) {
  .hero-text {
    font-size: 2.2rem;
    width: 400px;
  }

  .slider-section-container h2 {
    font-size: 1.4rem;
    width: 450px;
  }

  .brand-logo svg {
    width: 170px;
  }

  .more-info-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;
    margin-bottom: 40px;
    height: 90vh;
  }

  .more-info-card {
    height: 250px;
    transition: all ease-in 0.2s;
  }

  .more-info-card p {

    font-size: 16px;
  }

  .more-info-card a {
    font-size: 16px;
  }

  .learnMoreButton {
    width: 10rem;
    height: 2rem;
    font-size: 0.5rem
  }

  .transparent-cards-container {
    grid-template-columns: 1fr;
    height: 175vh;
    align-items: center;
    justify-content: center;




  }


  .textAboutWrapper {
    font-size: 13px;

    gap: 1rem;
    height: 85vh;

  }

  .service-card {
    height: 20rem;
    width: 100%;


  }

  .service-card h1 {
    font-size: 35px;
  }

  .service-card p,
  .service-card a {
    font-size: 14px;
    width: 90%;
    text-align: center;
  }

  .ship-video-container {
    width: 45rem;
    height: 20rem;
    margin-bottom: 5rem;
    overflow: hidden;
  }

  .wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 1rem;
    gap: 2rem;


  }


  .counter-container .text {
    font-size: 16px;
  }

  .counter-container .num {
    font-size: 44px;
  }

  .counter-container hr {
    width: 100px;
  }

  .video-section {
    margin-bottom: 50px;
    height: 85vh;
    padding: 0 2rem;
  }

  .videoTextContainer {
    font-size: 0.75rem;
    padding: 10rem 0;
    min-width: 430px;



  }

  .ship-video-container video {
    margin: 0 40px;

  }


}



@media (max-width: 480px) {
  .slider-section-container {
    overflow: hidden;
    padding: 0;
    margin: 0;

  }

  .textAboutWrapper {
    font-size: 12px;
  }

  .textAboutWrapper h1 {
    font-size: 2em;
  }

  .slider {
    padding: 0;
  }

  .slider-section-container h2 {
    font-size: 1.2rem;
    width: 250px;
  }

  .slider-section-container hr {
    width: 90px;
  }

  .brand-logo svg {
    width: 130px;
  }



  /* pjesa e get more info about us  */
  .get-more-info-header {
    font-size: 1.2rem;
  }

  .more-info-container {
    grid-template-columns: repeat(2, 1fr);


  }

  .more-info-card {
    height: 210px;
    transition: all ease-in 0.3s;
  }

  .more-info-card p {
    font-size: 12px;
  }

  .more-info-card a {
    font-size: 12px;
  }


  /* cards */
  .transparent-cards-container {
    grid-template-columns: 1fr;
    height: 155vh;
    align-items: center;
    justify-content: center;

  }

  .service-card {
    height: 18rem;
    width: 50px;
    min-width: 22rem;
  }

  .service-card h1 {
    font-size: 30px;
  }

  .service-card p,
  .service-card a {
    font-size: 12px;
    width: 70%;
    text-align: center;
  }

  .wrapper {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2rem;
    gap: 10px;
  }

  .counter-container .text {
    font-size: 12px;
  }

  .counter-container .num {
    font-size: 36px;
  }

  .counter-container hr {
    width: 70px;
  }

  /* hero page */

  .hero {
    height: 70vh;
    left: 0;
    transition: all 0.3s ease;
    box-shadow: inset 0 -250px 40px -20px rgba(0, 0, 0, 0.7);
  }

  .hero-text {
    left: 20px;
    min-width: 20rem;
    max-width: 22rem;
    bottom: 7em;
  }

  .hero-text h4 {
    font-size: 1.8rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .video-section {
    margin-bottom: 50px;
    height: 85vh;
    padding: 1rem;
  }

  .videoTextContainer {
    font-size: 0.7rem;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 1rem;
  }

  .ship-video-container video {
    width: 160px;
    height: 480px;
    min-width: 340px;
  }
}

nav {
  background-color: none;
}

/* .fade-up {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
} */