* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    display: flex;
    flex-direction: column;
    gap: 75px;
}

.customer_care_main_page_container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 75px;
    padding: 90px;
}

.cc_main_page_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}

.contact_lookup_container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 125px;
}

.contact_lookup_container form {
    display: flex;
    flex-direction: row;
    width: auto;
}

.contact_lookup_container input {
    padding: 10px;
    padding-left: 15px;
    padding-right: 87px;
    width: 450px;
    height: 50px;
    border-radius: 7px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
}

.contact_lookup_container button {
    width: 80px;
    height: 45px;
    background-color: #0a47c9;
    color: white;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transform: translateX(-82px) translateY(2px);
}

.contact_lookup_container p {
    font-size: 11px;
    opacity: 0.5;
}

.contact_lookup_container h4 {
    font-size: 16px;
}

.alternative_tracking_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid lightgrey;
    width: 450px;
    height: 50px;
    padding-top: 25px;
}

.alternative_tracking_container p {
    font-size: 12px;
    opacity: 0.5;
}

.alternative_tracking_container a {
    text-decoration: none;
    color: #0a47c9;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.alternative_tracking_container a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.alternative_tracking_container svg {
    height: 20px;
    width: 20px;
    transform: translateY(5px);
    padding-left: 5px;
}

.cc_help_options {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    /* justify-content: space-between;
    align-content: space-between; */
    margin-top: -7px;
}

@media (max-width:1064px) {
    .cc_help_options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
    }
}

@media (max-width:1064px) {
    body {
        padding: 20px;
    }

    .customer_care_main_page_container {
        gap: 50px;
    }

    .cc_main_page_content {
        flex-direction: column;
        gap: 100px;
    }

    .tracking_section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contact_lookup_container input {
        width: 100%;
        padding-right: 100px;
    }

    .alternative_tracking_container {
        width: 80%;
    }

    .contact_lookup_container button {
        transform: translateX(-74px) translateY(2.5px);
    }
}

@media (max-width: 580px) {
    .contact_lookup_container button {
        transform: translateX(-68px) translateY(2.5px);
    }

    .cc_help_options {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
    }
}

@media (max-width: 420px) {
    .contact_lookup_container button {
        transform: translateX(-62px) translateY(2.5px);
    }
}

@media (max-width: 350px) {
    .contact_lookup_container button {
        transform: translateX(-55px) translateY(2.5px);
    }
}

.documents_and_packages_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 80vh;
    padding: 90px;
}

.documents_and_packages_boxes_container {
    display: flex;
    flex-direction: row;
}

.e_commerce_box_info svg,
.logistics_box_info svg {
    width: 20px;
    height: 20px;
    transform: translateY(-20px);
}

.e_commerce_box,
.logistics_box {
    width: 50%;
    height: 55vh;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
}

.e_commerce_box_title_container,
.logistics_box_title_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center
}

.e_commerce_box_content,
.logistics_box_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 40%;
    border-bottom: 1px solid lightgrey;
}

.e_commerce_box_content p,
.logistics_box_content p {
    font-size: 14px;
    opacity: 0.5;
}

.logistics_box_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 70px;
    /* gap:20px; */
}

.e_commerce_box_info h4,
.logistics_box_info h4 {
    height: 50px;
    max-lines: 1;
}

.e_commerce_box_title_container svg {
    width: 30px;
    height: 30px;
}

.e_commerce_box_info {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 150px;
}

info-item:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #0a47c9
}

@media (max-width:768px) {
    .documents_and_packages_boxes_container {
        flex-direction: column;
    }

    .e_commerce_box,
    .logistics_box {
        width: 100%;
    }
}

@media (max-width:670px) {
    .e_commerce_box {
        height: 78vh;
    }

    .e_commerce_box_info {
        flex-direction: column;
        gap: 20px;
    }
}