* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.blue-container {
  background-color: blue;
  height: 80vh;
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-container div {
  color: white;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  background-color: rgb(125, 18, 18);
  width: 500px;
  flex-direction: row;
  overflow: hidden;
  border-radius: 5px;
  justify-content: space-between;
}

.search-box__input {
  height: 100%;
  border: none;

}

.search-box__btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: black;
  height: 100%;
}



/* services card */

.services-card {


  width: 20rem;
  margin-left: 10rem;
}

.service-crd-text {
  padding-top: 5px;
}

.services-card ul {
  padding: 4px;
  list-style: disc inside;
  color: black;
}

.services-card img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  object-position: center;
}