* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.location-container {
  color: white;
  max-width: 2172px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.location-container video {
  position: relative;
  width: 100%;
  height: 760px;
  z-index: -1;
  object-fit: cover;
}

.location-container div {
  max-width: 2172px;
  position: absolute;
  color: white;
  font-size: 2.5rem;
  display: flex;
  gap: 100px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center
}

.location-container div h2 {
  max-width: 55vw;
  margin-bottom: 100px;
  font-weight: 900;
  backdrop-filter: blur(1.5px);
}

.input-box {
  margin-top: 250px;
  padding: 20px;
  position: relative;
  height: 70px;
  width: 50vw;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}

.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}

.input-box .button {
  right: 20px;
  font-size: 16px;
  width: 20vh;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #000000;
  cursor: pointer;
}

.mapsContainer h1 {
  font-size: 1.5rem;
}

.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

@media (max-width: 1019px) {
  .location-container h2 {
    font-size: 2.8rem;

  }

  .input-box {
    min-width: 50vw;
    height: 50px;
    padding: 0;
    margin-bottom: 100px;
  }

  .input-box i {
    left: 2px;
    scale: 0.7;
    top: 40%;
  }

  .input-box .button {
    width: 80px;
    height: 32px;
    padding: 0;
    right: 5px;
  }

  .input-box input {
    font-size: 0.9rem;
    padding: 0 5rem 0 2.5rem;
  }

  input::placeholder {
    font-size: 1rem;

  }

  .mapsContainer {
    text-align: center;
    font-size: 0.8rem;
  }

}

@media (max-width: 768px) {
  .location-container h2 {
    font-size: 2.7rem;
  }

  .input-box {
    min-width: 65vw;
    height: 50px;
    padding: 0;
    margin-bottom: 5px;
  }

  .input-box i {
    left: 2px;
    scale: 0.7;
    top: 40%;
  }

  .input-box .button {
    width: 80px;
    height: 32px;
    padding: 0;
    right: 5px;
  }

  .input-box input {
    font-size: 0.9rem;
    padding: 0 5rem 0 2.5rem;
  }

  input::placeholder {
    font-size: 1rem;

  }

  .mapsContainer {
    font-size: 0.6rem;
  }

}


@media (max-width: 480px) {
  .location-container h2 {
    font-size: 2.2rem;
    min-width: 300px;
  }

  .input-box {
    min-width: 70vw;
    height: 40px;
    padding: 0;
    margin-bottom: 80px;
  }

  .input-box i {
    left: 2px;
    scale: 0.7;
    top: 40%;
  }

  .input-box .button {
    width: 70px;
    height: 32px;
    padding: 0;
    right: 5px;
  }

  .input-box input {
    font-size: 0.9rem;
    padding: 0 5rem 0 2.5rem;
  }

  input::placeholder {
    font-size: 0.9rem;

  }


  .section-header {
    text-align: center;
  }

  .mapsContainer {
    font-size: 0.5 rem;
  }

  .mapsContainer h1 {
    font-size: 1.3rem;
  }
}



.near-services-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 2rem;
}



.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section-header h3 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;


}

.section-header p {
  font-size: 1.1rem;
  line-height: 1.6;
  min-width: 24rem;
  font-size: 1rem;
}

.cards-container {

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3rem;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
}


.location-card {
  flex: 1 1 300px;
  max-width: 320px;
}


.mapsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

iframe {
  width: 90vw;
  height: 20rem;
}